/* src/App.css */
.App {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #6E6E6E;
}

.team-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligns items at the bottom */
}

.card {
    width: 200px;
    text-align: center;
    margin: 0 20px; /* Add margin to left and right */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover; /* Ensures the image covers the div */
    background-color: #eaeaea;
}

.card-body {
    padding: 15px;
}

.card-body h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.card-body p {
    margin: 5px 0;
    color: #777;
}

.social-links {
    margin-top: 10px;
}

.social-links img {
    width: 24px;
    height: 24px;
}

.middle-card {
    margin-bottom: -20px; /* Adjust this value to lower the middle card */
}
