.count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap; /* Allow items to wrap if they don't fit in a row */
    background-color: #6E9B40;
    opacity: 75%;

}

.item {
    margin: 10px 0;
    text-align: center;
    font-size: 55px;
    flex: 1 1 200px; /* Allow items to grow and shrink, minimum width of 200px */
    max-width: 300px; /* Set a maximum width for the items */
    color: white;
    font-family: 'Monda';

}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .item {
        margin: 5px 0;
        font-size: 45px; /* Adjust font size for better readability on smaller screens */
    }
}
