
.safety-container {
    padding: 2rem;
    font-family: Arial, sans-serif;
    color: #333;
}

.safety-header {
    text-align: left;
    margin-bottom: 2rem;
}

.safety-header h1 {
    font-size: 2.5rem;
    color: gray;
}

.safety-header p {
    font-size: 1rem;
    margin: 1rem 0;
}

.safety-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 80%;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.middle {
    grid-column: span 3;
}
/* Responsive adjustments */
