/* SafetyCards.css */

.safety-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
.safety-content p{
    font-size: 1.2rem;
    font-family: 'Monda';
    margin-right: 10%;
}

.headline {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Monda';
}
safety-content p{
    font-size: 8rem;
}
.headline {
    font-size: 8rem; /* Adjusted to fit the design better */
    color: black;
    margin-right: 20px;
    max-width: 60%; /* Limit the width of the headline */
}

.safety-highlight {
    color: #ff0000;
    margin-left: 80px;
}

.safety-image {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-20%); /* Adjust as needed */
}

.safety-image img {
    margin-top: 150px;
    width: 100vh; /* Adjust width as needed */
    height: 100vh; /* Maintain aspect ratio */
}

