/* SafetyCards.css */

.safety-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.safety-content p {
    font-size: 1.2rem;
    font-family: 'Monda';
    margin-right: 10%;
}

.headline {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Monda';
    font-size: 8rem; /* Adjusted to fit the design better */
    color: black;
    margin-right: 20px;
    max-width: 60%; /* Limit the width of the headline */
}

.safety-highlight {
    color: #ff0000;
    margin-left: 80px;
}

.safety-image {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-20%); /* Adjust as needed */
}

.safety-image img {
    margin-top: 150px;
    width: 100vh; /* Adjust width as needed */
    height: 100vh; /* Maintain aspect ratio */
}

/* Media Queries for Responsive Design */

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    .headline {
        font-size: 8rem;
    }

    .safety-content p {
        font-size: 1.2rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1199px) {
    .headline {
        font-size: 6rem;
    }

    .safety-content p {
        font-size: 1rem;
    }

    .safety-image img {
        width: 80vh;
        height: 80vh;
    }

    .safety-highlight {
        margin-left: 40px;
    }
}

/* Small devices (phones, 600px and up) */
@media (min-width: 600px) and (max-width: 767px) {
    .headline {
        font-size: 4rem;
    }

    .safety-content p {
        font-size: 0.9rem;
    }

    .safety-image img {
        width: 20vh;
        height: 20vh;
    }

    .safety-highlight {
        margin-left: 20px;
    }
}

/* Extra small devices (phones, less than 600px) */
@media (max-width: 599px) {
    .headline {
        font-size: 3rem;
    }

    .safety-content p {
        font-size: 0.8rem;
    }

    .safety-image img {
        width: 30vh;
        height: 35vh;
        margin-top: 140px; /* Adjust as needed */
    }

    .safety-highlight {
        margin-left: 10px;
    }

    .safety-container {
        flex-direction: column;
        align-items: center;
    }
}
